.title_box {
	margin-bottom: 20px !important; 
	background-color: #062045 !important;  
	color: #FFFFFF !important; 
	display: block !important; 
	font-family: Tahoma,sans-serif !important; 
	font-size: 12px !important;  
	font-weight: bolder !important; 
	margin-top: 20px !important; 
	padding: 8px 12px !important; 
	width: 97.7% !important; 
	}

	
.right{
	float:right;
}